.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
